@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000;
  --background-hex: #FDFBFB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}